@model Task_2.Models.Student

<div class="container">
    <h4 class="text-primary">Student Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.DateOfBirth)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Phone)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Phone)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>
    </dl>
</div>

<div class="text-right">
    <button type="button" class="btn btn-warning" id="editStudent" data-id="@Model.Id">
        <i class="fas fa-edit"></i> Edit
    </button>
</div>

<script>
    $(document).ready(function () {
        $('#editStudent').click(function () {
            var studentId = $(this).data('id');

            $.ajax({
                url: '/Student/Edit/' + studentId,
                type: 'GET',
                success: function (data) {
                    $('#modalContainer .modal-body').html(data); // Load form inside modal-body
                    $('#modalContainer').modal('show');
                },
                error: function () {
                    alert("An error occurred while loading the edit form.");
                }
            });
        });
    });
</script>
