@model IEnumerable<Task_2.Models.Student>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.DateOfBirth.ToShortDateString()</td>
        <td>@item.Address</td>
        <td>@item.Phone</td>
        <td>@item.Email</td>
        <td class="text-center">
            <button class="btn btn-sm btn-warning" onclick="loadEditForm('@item.Id')">Edit</button>
            <button class="btn btn-sm btn-info text-white" onclick="loadDetails('@item.Id')">Details</button>
            <button class="btn btn-sm btn-danger" onclick="loadDeleteForm('@item.Id')">Delete</button>
        </td>
    </tr>
}
